<div id="cards-main" class="container text-center mb-5">
  <div class="card-center row row-cols-3">
    <div class="col">
      <div class="card-content card p-2 mb-4">
        <img src="../../../assets/prod/prod-01.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Placa Mãe Asus</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-content card p-2">
        <img src="../../../assets/prod/prod-09.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Monitor Ultra Wide</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-content card p-2">
        <img src="../../../assets/prod/prod-03.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Controle Dualshock 4</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-content card p-2">
        <img src="../../../assets/prod/prod-04.png" alt="">
        <div class="card-body">
          <h5 class="card-title">MacBook Pro</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-content card p-2">
        <img src="../../../assets/prod/prod-10.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Smartphone</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-content card p-2">
        <img src="../../../assets/prod/prod-06.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Placa Mãe Gigabyte</h5>
        </div>
      </div>
    </div>
  </div>
</div>
