<div id="cards-main" class="container text-center mb-5">
  <div class="card-center row row-cols-2">
    <div class="col mb-4">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-01.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">Placa Mãe Asus</h5>
            <p>R$ 1.249,52</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-09.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">Monitor Ultra Wide</h5>
            <p>R$ 12.249,90</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-03.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">Controle Dualshock 4</h5>
            <p>R$ 281,52</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-04.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">MacBook Pro</h5>
            <p>R$ 25.499,98</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-10.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">Smartphone</h5>
            <p>R$ 1.249,52</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card-content card p-2 rounded-3">
          <img class="rounded-2" src="../../../assets/prod/prod-06.png" alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">Placa Mãe Gigabyte</h5>
            <p>R$ 12.249,52</p>
            <p>à vista</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
