<footer id="footer">
  <div class="footer-center">
    <div class="fo-container fo-container-1">
      <p class="contact contact-title fo-title">entre em contato</p>
      <!-- start contact number -->
      <div class="contact">
        <div class="contact-bar01 contact-number-text contact-num">
          <a href="" class="text-decoration-none">
            <p
              class="text-content-font contact-number-content contact-content"
            >
              (XX) X123 4567
            </p>
          </a>
        </div>
        <div class="contact-bar02 contact-number-icon contact-num">
          <a href="" class="text-decoration-none">
            <i
              class="text-content-font fa-brands fa-whatsapp contact-icon"
            ></i>
          </a>
        </div>
      </div>
      <!-- end contact number -->
      <!-- start contact instagram -->
      <div class="contact">
        <div class="contact-bar01 contact-insta-text contact-insta">
          <a href="" class="text-decoration-none">
            <p
              class="text-content-font contact-insta-content contact-content"
            >
              @shop.game_mania
            </p>
          </a>
        </div>
        <div class="contact-bar02 contact-insta-icon contact-insta">
          <a href="" class="text-decoration-none">
            <i
              class="text-content-font fa-brands fa-instagram contact-icon"
            ></i>
          </a>
        </div>
      </div>
      <!-- end contact instagram -->
      <!-- start contact facebook -->
      <div class="contact">
        <div class="contact-bar01 contact-face-text contact-face">
          <a href="" class="text-decoration-none">
            <p
              class="text-content-font contact-face-content contact-content"
            >
              Loja Game Mania
            </p>
          </a>
        </div>
        <div class="contact-bar02 contact-face-icon contact-face">
          <a href="" class="text-decoration-none">
            <i
              class="text-content-font fa-brands fa-facebook contact-icon"
            ></i>
          </a>
        </div>
      </div>
      <!-- end contact facebook -->
      <!-- start contact mail -->
      <div class="contact">
        <div class="contact-bar01 contact-mail-text contact-mail">
          <a href="" class="text-decoration-none">
            <p
              class="text-content-font contact-mail-content contact-content"
            >
              game.mania@loja.com
            </p>
          </a>
        </div>
        <div class="contact-bar02 contact-mail-icon contact-mail">
          <a href="" class="text-decoration-none">
            <i
              class="text-content-font fa-regular fa-envelope contact-icon"
            ></i>
          </a>
        </div>
      </div>
      <!-- end contact mail -->
    </div>
    <div class="fo-container fo-container-2">
      <p class="local local-title fo-title">venha nos conhecer de perto</p>
      <div class="local local-address address-content">
        <p>
          Rua José Romeiro Pereira, 5XXX
          <br />
          Jundiaí - SP
          <br />
          CEP:13021-XXX
        </p>
      </div>
      <div class="local local-hour address-content">
        <p>
          Segunda a Sexta 8h às 19
          <br />
          Sábado 10h às 16h
        </p>
      </div>
    </div>
    <div class="fo-container fo-container-3">
      <p class="fo-nav fo-nav-title fo-title">navegue</p>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Página inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
      </ul>
    </div>
  </div>
</footer>