<nav id="navbar-main" class="">
  <div class="navbar-center d-flex justify-content-center">
    <div class="">
      <a>
        <img src="../../../assets/mania-logo.png" alt="Game Mania Logotipo" class="logo-img">
      </a>
    </div>
    <div class="search-cart-union d-flex">
      <div class="nav-search-bar">
        <form id="new-search" method="get">
          <input
            type="text"
            class="search-input"
            id="search-input"
            name="q"
            placeholder="Busque pelas melhores ofertas aqui ;)"
            maxlength="70"
          />
        </form>
        <button id="search-icon" class="search-button">
          <i class="search-icon-font fa-solid fa-magnifying-glass search-text-content"></i>
        </button>
      </div>
      <div class="cart">
        <div class="cart-icon">
          <a>
            <i class="cart-icon-font cart-font fa-solid fa-cart-shopping"></i>
          </a>
          <div class="icon-text">
            <a class="text-decoration-none">
              <p class="cart-font">0</p>
            </a>
            <div class="icon-text-underline"></div>
          </div>
          <div class="login-section">
            <a>
              <p class="login-text">Faça o login</p>
            </a>
            <div class="login-underline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>