#nav-bot {
  background-color: #797cbe;
}

.nav-bot-center {
  margin: 0 auto;
  max-width: 1120px;
}

.nav-item {
  width: 25%;
  text-align: center;
}

.nav-link {
  color: #f2f2f2;
}

.nav-link:hover {
  background-color: #f2f2f2;
  color: #797cbe;
}

