<div id="nav-bot">
  <div class="nav-bot-center">
    <ul class="nav justify-content-center mb-5">
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa-solid fa-list-ul"></i>
          <span> Departamentos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">PC Gamer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Escritório</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Smartphone</a>
      </li>
    </ul>
  </div>
</div>