    <div id="login" class="container">
      <div class="row justify-content-center text-center">
        <div class="col container-login m-5 p-5">
          <form class="">
            <h1 class="mb-4 login-title-font">Faça o Login</h1>
            <label class="visually-hidden" for="inputEmail"
              >Endereço de Email</label
            >
            <input
              id="inputEmail"
              class="form-control mb-2 login-input"
              type="email"
              placeholder="Endereço de Email"
              required=""
              autofocus=""
            />
            <label class="visually-hidden" for="inputPassword">Senha</label>
            <input
              id="inputPassword"
              class="form-control mb-4 login-input"
              type="password"
              placeholder="Senha"
              required=""
            />
          </form>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="lembre-se" />
              <span class="login-content-font">Lembrar da senha</span>
            </label>
          </div>
          <button
            class="btn btn-lg btn-primary btn-block login-button"
            type="sumbit"
          >
            <span class="login-content-font">Entrar</span>
          </button>
        </div>
      </div>
    </div>
    <!-- login end -->